<ion-modal-view>
  <ion-header-bar class="nav-title-slide-ios7 bar-positive navbarSellIt">
    <a class="button icon-left ion-chevron-left button-clear"
        ng-click="modal.hide()">
      Back</a>
    <h1 class="title">Buy {{product.nombre}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Choose a payment option:
      </div>
      <ion-radio ng-repeat="item in paymentOptions"
                   ng-value="item.id"
                   ng-model="picked.value">
          {{ item.name }}
        </ion-radio>
    </div>
    <app-map style="height:400px;margin:12px;box-shadow:0 3px 25px black;"
        center="center"
        zoom="15"
        markers="vendedorLoc"
        ng-if="picked.value == 1"
      >
    </app-map>
    <div class="card"
      ng-show="picked.value == 2"
      >
      <div class="item item-divider">
        {{product.id_usuario.name}}
      </div>
      <div class="item">
        <h2>Bank</h2><p>{{bankInfo.nombre_banco}}</p>
      </div>
      <div class="item">
        <h2>Account Holder</h2><p>{{bankInfo.nombre_titular}}</p>
      </div>
      <div class="item">
        <h2>Account Type</h2><p>{{bankInfo.tipo_cuenta}}</p>
      </div>
      <div class="item">
        <h2>Account Number</h2><p>{{bankInfo.numero_cuenta}}</p>
      </div>
      <div class="item" ng-if="bankInfo.ciudad_titular">
        <h2>City</h2><p>{{bankInfo.ciudad_titular}}</p>
      </div>
      <div class="item" ng-if="bankInfo.informacion_extra">
        <h2>Extra info</h2><p>{{bankInfo.informacion_extra}}</p>
      </div>
    </div>
    <div class="card item"
      ng-show="picked.value == 3"
      >
      <div class="range range-positive">
        I'll give you:
        <i class="icon ion-social-usd-outline"></i>
        <input type="range" name="offer" min="0" max="{{product.precio}}" ng-model="offer.value">
        <i class="icon ion-social-usd"></i>
        <input type="number" value="{{offer.value}}">
      </div>
      <br>
      <label class="item-input item-stacked-label">
        <span class="input-label">Because</span>
        <input type="text" placeholder="reasons" ng-model="offer.description">
      </label>
    </div>
  </ion-content>
  <a ng-click="sendOffer()" id="buttonContainer">
    <article id ="nextButton" class="ion-arrow-right-c">
    </article>
  </a>
</ion-modal-view>
