<ion-view title="Followers">
  <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear" ng-click="goBack()">
        Back
      </a>
    </ion-nav-buttons>
  <ion-content>
    <div class="list">
        <a href="#/home/profile/{{follower.id}}" class="item item-thumbnail-left"
            ng-repeat="follower in followers"
            ng-click= "getProfile($index)">
          <img src="{{follower.ruta_avatar}}">
          <h2>{{follower.nombre}}</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
    </div>
  </ion-content>
</ion-view>
