<ion-view title="Home">
  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Feed" icon="ion-bag" href="#/home/feed">
      <ion-nav-view name="feed-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Publish" icon="ion-camera" href="#/home/publish">
      <ion-nav-view name="publish-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profile" icon="ion-person" href="#/home/profile/{{idUser}}">
      <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
