<ion-view hide-nav-bar="true">
  <ion-content has-header="false">
    <div>
      <figure id= "productImage">
        <feed-image></feed-image>
      </figure>
      <figcaption id= "productInfo">
        <section>
          <rating class="stars" ng-model="rate" max="max"></rating>
          <p id="nombre">{{products.nombre}}</p>
          <p id="precio">{{products.precio | currency}}</p>
        </section>
        <section>
          <img ng-src="{{products.imgUser}}"/>
        </section>
      </figcaption>
      <article id="productDesciption" class="card">
        <h4 id="title">Detalles</h4>
        {{products.descripcion}}
      </article>
      <figcaption id= "productInfo">
        <section>
          <p>
            Comments
          </p>
        </section>
      </figcaption>
      <article id="productDesciption" class="card">
        <feed-comments name="{{products.nombre}}"></feed-comments>
      </article>

    </div>
  </ion-content>
</ion-view>
