<ion-view hide-nav-bar="true">
  <ion-content has-header="false">
    <div>
      <figure id="productImage">
        <div class="imageFeed">
          <img ng-src="data:image/jpeg;base64,{{product.images[0]}}">
        </div>
      </figure>
      <figcaption id="productInfo">
        <section>
          <rating class="stars" ng-model="rate" max="max"></rating>
          <p id="nombre">{{product.nombre}}</p>
          <p id="precio">{{product.precio | currency}}</p>
        </section>
        <section>
          <img ng-src="{{product.id_usuario.ruta_avatar}}"/>
        </section>
      </figcaption>
      <article id="productDesciption" class="card">
        <h4 id="title">Description</h4>
        {{product.descripcion}}
      </article>
      <figcaption id= "productInfo">
        <section>
          <p>
            Comments
          </p>
        </section>
      </figcaption>
      <article id="productDesciption" class="card">
        <feed-comments name="{{product.nombre}}" profile="{{profile}}"></feed-comments>
      </article>

    </div>
  </ion-content>
</ion-view>
