<ion-view title="{{product.nombre}}">
  <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear" ng-click="goBack()">
        Back
      </a>
    </ion-nav-buttons>
  <ion-content >
    <div>
      <figure id="productImage">
        <div class="imageFeed">
          <img ng-src="data:image/jpeg;base64,{{product.images[0]}}">
        </div>
      </figure>
      <figcaption id="productInfo">
        <section>
          <rating class="stars" ng-model="rate" max="max" ng-click="addRating()"></rating>
          <p id="nombre">{{product.nombre}}</p>
          <p id="precio">{{product.precio | currency}}</p>
        </section>
        <section ng-hide="own">
          <button id="btnBuy" class="button button-balanced" ng-click="modal.show()">
            Buy
          </button>
        </section>
        <section>
          <img ng-src="{{product.id_usuario.ruta_avatar}}"/>
        </section>
      </figcaption>
      <article id="productDesciption" class="card">
        <h4 id="title">Description</h4>
        {{product.descripcion}}
      </article>
      <figcaption id= "productInfo">
        <section>
          <p>
            Comments
          </p>
        </section>
      </figcaption>
      <article id="productDesciption" class="card">
        <feed-comments name="{{product.nombre}}" profile="{{profile}}"></feed-comments>
      </article>

    </div>
  </ion-content>
</ion-view>
