<ion-view title="{{profile.nombre}}">
  <ion-content>
    <section class="information">
      <div class="row">
        <div class="col col-25">
          <a class="item item-avatar">
            <img src="{{profile.ruta_avatar}}">
          </a>
        </div>
        <div id="infoProfile" class="col col-75">
          <div class="col col-33">
            <strong>{{productos.length}}</strong>
            <span>Products</span>
          </div>
          <div class="col col-33">
            <a href="#/profile/followers/{{profile.id}}">
              <strong>{{followersCounter}}</strong>
              <span>Followers</span>
            </a>
          </div>
          <div class="col col-33">
            <a href="#/profile/following/{{profile.id}}">
              <strong>{{followingCounter}}</strong>
              <span>Following</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row ng-hide" ng-show="showSection()">
        <a ng-click="modal.show()">
          <figure class="ng-hide" ng-show="showButton()" id="editProfile">
            Edit profile
          </figure>
        </a>
        <section class="ng-hide showGoals" ng-show="showGoals()">
          <span>{{profile.goals.description}}</span>
          <figure>{{profile.goals.moneyGoal}}</figure>
          <figure>{{profile.goals.moneyAdvance}}</figure>
        </section>
      </div>
    </section>
    <section id= "productosProfile">
      <div class="card">
        <ion-radio class="tabsProfile" ng-repeat="item in tabOptions"
                     ng-value="item.id"
                     ng-model="picked.value">
            {{ item.name }}
          </ion-radio>
      </div>
      <div class="card" ng-show="picked.value == 1">
        <figure class= "card" ng-repeat= "producto in productos">
          <a href="#/product/{{producto.id}}">
          <profile-products></profile-products>
      </div>
      <div class="card" ng-show="picked.value == 2">
        <profile-news></profile-news>
      </div>
    </section>
  </ion-content>
</ion-view>
