<ion-view title="Publish">
  <ion-content>
    <div class="card">
      <div class="item item-image" ng-show="picTaken" ng-click="takePicture()">
        <img src="{{imgSrc}}">
      </div>
      <a class="item item-icon-center" ng-hide="picTaken" ng-click="takePicture()">
        <i class="ion-ios7-plus-outline"> Take a picture.</i>
      </a>
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Product name</span>
        <input type="text" placeholder="your product name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="your product description">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Price</span>
        <input type="number" placeholder="your product price">
      </label>
      <br>
      <button class="button button-full button-positive" ng-click="publish()">
        Publish
      </button>
      <br>
    </div>
  </ion-content>
</ion-view>
