<ion-view title="You may want to follow these people.">
  <ion-content>
    <ul class="profileList">
      <li class=" card profileItem" ng-repeat="profile in profiles">
        <div class="deleteProfile ion-close-round"></div>
        <figure class="imgContainer">
          <img src="{{profile.imgUser}}" alt="">
          <article class="followButton">Follow</article>
        </figure>
        <section class="profileInfo">
          <p>{{profile.userName}}</p>
          <section ng-repeat="preference in profile.preferences" class="preferencesUser">
            <span>{{preference}}</span>
          </section>
        </section>
      </li>
    </ul>
  </ion-content>
  <a id="buttonContainer" href="#/home/feed">
    <article id = "nextButton" class="ion-arrow-right-c">
    </article>
  </a>
</ion-view>
