.pane {
  background-color: #f2f2f2;
}
.tab-item-active {
  color: #03a9f4 !important;
  border-color: #03a9f4 !important;
}
.tabs-positive .tabs {
  background-color: #3a3c3f !important;
}
.bar.bar-positive {
  background-color: #03a9f4 !important;
}
.checkbox input:before,
.checkbox .checkbox-icon:before {
  border-color: #03a9f4 !important;
}
.card {
  margin: 10px 10px !important;
}
.scroll {
  max-height: 100% !important;
  min-height: 100% !important;
  position: relative !important;
}
.publishButton {
  background-color: #03a9f4;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 12px;
  color: #fff;
  font-size: 25px;
  z-index: 10;
  position: fixed;
  bottom: 80px;
  right: 15px;
}
#buttonContainer {
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 25px;
}
#buttonContainer #nextButton {
  background-color: #03a9f4;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 25%;
  color: #fff;
}
.information {
  box-shadow: 0px 0px 2px 0px rgba(50,50,50,0.75);
  margin-bottom: 5px;
  background-color: #fff;
}
.information div #editProfile {
  background-color: #616161;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  color: #fff;
}
.item-avatar {
  padding-left: 0px;
  border-radius: 4px;
}
.item-avatar img {
  top: 0px !important;
  left: 0px !important;
  max-width: inherit !important;
  max-height: inherit !important;
}
#infoProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#infoProfile div {
  display: inline-block;
  max-width: 30%;
}
#infoProfile div a {
  color: #000;
  text-decoration: blink;
}
#infoProfile div strong,
#infoProfile div span {
  display: block;
  text-align: center;
}
#infoProfile div span {
  font-size: 12px;
}
#productosProfile figure {
  width: 47%;
  margin: 2px 5px !important;
  display: inline-flex;
  flex-direction: column;
  max-height: 200px;
  min-height: 200px;
  position: relative;
  padding: 0;
}
#productosProfile figure .imageContainer {
  max-width: 100%;
  min-height: 160px;
  max-height: 160px;
  background-color: #000;
  display: inline-flex;
  flex-direction: row;
}
#productosProfile figure .imageContainer img {
  width: 100%;
}
#productosProfile figure .info {
  min-height: 40px;
  max-height: 40px;
}
#productosProfile figure .info figcaption {
  text-align: center;
}
.feedItem {
  padding: 0;
}
.imageFeed img {
  width: 100%;
  display: inherit;
}
.productFeed {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}
.productFeed img {
  width: 50px;
  height: 50px;
  border-radius: 60px;
}
.productFeed #nombre {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  color: #03a9f4;
}
.productFeed #precio {
  display: inline-block;
  background: #03a9f4;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bold;
}
#productInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #03a9f4;
  padding: 4px 15px;
}
#productInfo section {
  color: #fff;
}
#productInfo section .stars {
  color: #fff;
}
#productInfo section .stars li {
  padding: 0;
}
#productInfo section img {
  width: 50px;
  height: 50px;
  border-radius: 60px;
}
#productDesciption {
  padding: 15px;
}
#productDesciption #title {
  color: #03a9f4;
  font-weight: bold;
}
.profileList .profileItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.profileList .profileItem .deleteProfile {
  position: absolute;
  z-index: 10;
  right: 10px;
  color: #d6d6d6;
}
.profileList .profileItem .imgContainer {
  width: 40%;
  position: relative;
}
.profileList .profileItem .imgContainer .followButton {
  position: absolute;
  bottom: 4px;
  left: 30%;
  background-color: #03a9f4;
  border-radius: 4px;
  color: #fff;
  padding: 2px 8px;
  border: 0px;
}
.profileList .profileItem .imgContainer img {
  width: 100%;
}
.profileList .profileItem .profileInfo {
  width: 60%;
  margin: 10px;
  color: #03a9f4;
  text-align: center;
}
#btnSend {
  display: inline-block;
  background: #03a9f4;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bold;
  border: 0px;
}
a {
  color: #000;
  text-decoration: blink;
}
