.navbarSellIt
  background-color: #03a9f4 !important

.checkbox input:before, .checkbox .checkbox-icon:before {
  border-color: #03a9f4 !important
}

.scroll
  height 100% !important

#buttonContainer
  position: absolute
  bottom: 15px
  right: 15px
  #nextButton
    background-color: #03a9f4
    border-radius: 50px
    height 50px
    width 50px
    text-align center
    padding-top 25%
    color #FFF
    font-size 25px
.information
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 5px;
.item-avatar
  padding-left 0px
  border-radius 4px
  img
    top: 0px !important
    left: 0px !important
    max-width: inherit !important
    max-height: inherit !important
#infoProfile
  display flex
  flex-direction row
  justify-content center
  align-items center
  div
    display inline-block
    max-width 30%
    strong,span
      display block
      text-align center
    span
      font-size 12px

#productosProfile
  figure
    width 47%
    margin: 2px 5px;
    display inline-block
    .imageContainer
      max-width 100%
      img
        width 100%
    .info
      figcaption
        text-align center

.feedItem img
  width 100%

.productFeed
  position relative

.productFeed img
  width 50px
  height 50px
  border-radius 60px

.productFeed #nombre
  display inline-block

.productFeed #precio
  display inline-block
  background #03a9f4
