.navbarSellIt
  background-color: #03a9f4 !important

.checkbox input:before, .checkbox .checkbox-icon:before {
  border-color: #03a9f4 !important
}
.scroll
  height 100% !important
#buttonContainer
  position: absolute
  bottom: 15px
  right: 15px
  #nextButton
    background-color: #03a9f4
    border-radius: 50px
    height 50px
    width 50px
    text-align center
    padding-top 25%
    color #FFF
    font-size 25px

.feedItem img {
  width: 100%;
}
.productFeed {
  position: relative;
}
.productFeed img {
  width: 50px;
  height: 50px;
  border-radius: 60px;
}
.productFeed #nombre {
  display: inline-block;
}
.productFeed #precio {
  display: inline-block;
  background: #03a9f4;
}
